.sideBar__span {
    padding-top: 113.5px;
    &--fontStyle {
        font-size: 72px;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
        writing-mode: vertical-rl;
        border-top: 10px solid black;
        @include pad {
            font-size: 62px;
        }
        @include md-mobile {
            font-size: 42px;
        }
        @include sm-mobile {
            font-size: 32px;
        }
    }
    @include pad {
        writing-mode: lr;
        border-top: none;
        // border-left: 10px solid black;
        // padding-left: 129px;
    }
}