<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
    title Document
  body
    main
      div.blur-box
  // Vue.js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js")
  // Vue-router
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.6/vue-router.min.js")
  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
