/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

// bc - BgColor
$bc-base: #fff;
$bc-Primary:plum;
$bc-Info: orange;
$bc-Secondry: #ccc;
// fc - FontColor
$fc-base: #000;
// ff - FontFamily
$ff-base: 'Open Sans';
// fs - FontSize
$fs-base: 24px;
$fs-sm: $fs-base / 1.3;
$fs-lg: $fs-base * 1.3;
// t - transition
$t-Time: .8s;