<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title LightBox
    // Font Awesome CSS
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    // Animation CSS
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    // Main CSS
    link(rel="stylesheet", href="../css/all.css")
  body
    .wrap.text-center
      .container
        .row
          .sideBar.col-lg-3.col-sm-12
            span.sideBar__span.sideBar__span--fontStyle FOX <br/> EVERYWHERE
          article.col
            .list.container
              .row.no-gutters
                div.col-lg-3.col-md-5.col-sm-12.list__imgBox.transitionStyle
                  img.list__img.transitionStyle.js-img-0(src="../img/img1.png")
                div.col-lg-3.col-md-5.col-sm-12.list__imgBox.transitionStyle
                  img.list__img.transitionStyle.js-img-1(src="../img/img2.png")
                div.col-lg-3.col-md-5.col-sm-12.list__imgBox.transitionStyle
                  img.list__img.transitionStyle.js-img-2(src="../img/img3.png")
                div.col-lg-3.col-md-5.col-sm-12.list__imgBox.transitionStyle
                  img.list__img.transitionStyle.js-img-3(src="../img/img4.png")
                div.col-lg-3.col-md-5.col-sm-12.list__imgBox.transitionStyle
                  img.list__img.transitionStyle.js-img-4(src="../img/img5.png")
                div.col-lg-3.col-md-5.col-sm-12.list__imgBox.transitionStyle
                  img.list__img.transitionStyle.js-img-5(src="../img/img6.png")
    .lightBox.container(style="display:none;")
      figure.row
        .lightBox__leftPart.col-lg-4.col-sm-12.text-left(style="min-height: 200px;")
          p.lightBox__title
            span.lightBox__markTitle 1
            |/6
          p.lightBox__content Have you ever seen the cute fox before?
          span.lightBox__markName —Erik Mclean
        .lightBox__RightPart.col
          .lightBox__imgBox
            img.lightBox__img(src="#")
            i.transitionStyle.fas.fa-times-circle.js-lightBoxModal
            i.transitionStyle.fas.fa-chevron-left.js-lightBoxModal
            i.transitionStyle.fas.fa-chevron-right.js-lightBoxModal
    script(src="../js/index.js")
